:root{
  --background-color: #fafafc;
  --text-color: #000000;
  --text-color-hover: #ab1806;
  --details-color: #d3d3d3;
  --text-color-hover: #ab1806;
  --text-title-font: "Noto Serif", serif;
  --text-body-font: 'Open Sans', sans-serif;
}

h1, h2 , h3, h4, h5, h6{
  font-family: var(--text-title-font)
}
a, p, span, li, input, button, label, select, option, textarea{
  font-family: var(--text-body-font);
}
.text-title{
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--text-title-font);
  font-optical-sizing: auto;
}
