/* styles/Slider.css */
.slider-image {
  height: 478px;
  width: calc(100% - 100px); /* Ancho ajustado para dejar espacio a la izquierda */
  margin: 0px 0px 0px 100px; /* Margen para el espacio a la izquierda */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  object-fit: cover; /* Ajusta cómo la imagen se adapta al contenedor */
}

/* Estilo para las flechas izquierda y derecha del carousel */
.carousel-control-prev, .carousel-control-next {
  color: #000000; 
  font-size: 24px; /* Ajusta el tamaño del texto según tu preferencia */
}

.carousel-indicators {
  position: absolute;
  bottom: -40px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Asegura que las barritas estén por encima de las imágenes */
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: -50px; /* Ajusta el margen izquierdo para tener en cuenta los 100px del margen del slider */
}
/* Estilo para cambiar el color de la barra activa de navegación */
.carousel-indicators .active {
  background-color: #ffffff; /* Cambia el color de fondo de la barra activa según tus preferencias */
}
