
.main-content{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-control-prev, .carousel-control-next {
  color: #000000; 
  font-size: 24px; /* Ajusta el tamaño del texto según tu preferencia */
}
.carousel-inner{
    height: 100%;
}

.carousel-indicators .active {
  background-color: #ffffff; 
}
.prueba{
    background-color: #ab1806;

}

.image-container {
    width: 100%;
    height: 480px;
  }
.slider-image {
    width: 100%;
    height: 100%;
  }

/*updates 2/12/2024*/

